/* FoodForm.css */

.add-food-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  
  .add-food-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative;
  }
  
  .add-food-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .add-food-form form {
    display: flex;
    flex-direction: column;
  }
  
  .add-food-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .add-food-form input,
  .add-food-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .add-food-form button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .add-food-form button {
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
 .add-food-form button:hover {
  background-color: #0056b3;
}
  
  .add-food-form button.cancel-button {
    background-color: transparent;
    color: #dc3545;
    order: 2;
  }
  
  .add-food-form button.cancel-button:hover {
    background-color: red;
    color: #dc3545;
  }
  
  .add-food-form button.add-button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive adjustments */
  @media (max-width: 500px) {
    .add-food-form {
      width: 90%;
    }
  }
  